@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

.sliderLabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    left: -15px !important;
}

.sliderBox {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #535353;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

#colBudgetSetup{
    padding-left: 0px !important;
}

.sliderBoxFont {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;

    color: #333333;
}

.SecondaryHeaderBudgetSetup {
    /* position: relative;
    width: 599.78px;
    height: 72px;
    left: 0px;
    right: 102.62;
    top: 275.03px; */
    font-family: 'Poppins';
    font-style: thin;
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;

    color: #333333;
}